@import url("https://fonts.googleapis.com/css?family=Crete+Round:400");
@import url("https://fonts.googleapis.com/css?family=Poppins:400");

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --max-width: 1220px;
}

header {
  background: #3c3a39;
  display: flex;
  justify-content: center;
}

nav {
  max-width: var(--max-width);
  width: 100%;
  display: flex;
  padding: 0.5rem 24px;
  justify-content: space-between;
  align-items: center;
  margin: auto auto;
}

.nav-logo {
  color: white;
  text-transform: capitalize;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
}

.nav-btn {
  display: flex;
  color: white;
  background: transparent;
  border: none;
  font-size: 18px;
  transition: all 0.5s ease-in-out;
}

.nav-links-container {
  display: none;
}

.nav-links-container li {
  margin: 2px 16px;
}

.nav-links-container li a {
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  color: #fff;
}

.nav-links-container :last-child {
  margin-right: none;
}

@media screen and (min-width: 768px) {
  .nav-links-container {
    display: flex;
  }

  .nav-btn {
    display: none;
  }

  nav {
    margin: auto 0.001px;
    padding: 8px 0.001px;
    margin-left: 154px;
  }
}

.main {
  background: #1c1a19;
  min-height: calc(100vh - 40px);
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-image: url("./assets//Group.png");
  background-position-x: 100%;
  background-position-y: 111.63%;
  background-repeat: no-repeat;
}

.generic-container {
  max-width: var(--max-width);
  margin: auto auto;
  width: 100%;
  display: flex;
  align-items: center;
}

.home-section {
  max-width: 375px;
  margin: 0;
}

.section-title {
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  text-transform: capitalize;
  margin: auto 24px;
  width: 300px;
}

.info-title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #fff5e1;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 4px 24px;
}

.info {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  flex: none;
  order: 2;
  flex-grow: 0;
  margin: 4px 24px;
}

.vertical-links-container {
  display: none;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  width: fit-content;
  padding: 0 12px;
  margin-right: 87px;
  height: fit-content;
}

.links-container {
  display: flex;
  padding: 4px 12px;
}

.links-container li a img {
  margin: auto 10.5px;
}

@media screen and (min-width: 768px) {
  .main {
    min-height: 798px;
    background-image: url("./assets/Group-large.png");
    background-position-x: 101%;
    background-position-y: 100%;
    justify-content: left;
  }

  .home-section {
    max-width: 566px;
  }

  .vertical-links-container {
    display: grid;
  }

  .section-title {
    margin: 0.001px;
  }

  .info-title {
    font-size: 32px;
    margin: 12px auto;
  }

  .info {
    font-size: 20px;
    margin: 12px auto;
  }

  .links-container {
    display: none;
  }
}

.section-container {
  background: #fff;
  min-height: 100vh;
  display: grid;
  align-items: center;
  justify-content: center;
}

.container {
  width: 327px;
  display: flexbox;
}

.projects-title {
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  margin: 6px auto;
  padding-bottom: 24px;
  margin-bottom: 80px;
  margin-top: 104px;
  border-bottom: 1px solid #212121;
  color: #1c1a19;
}

.project-card .card-header {
  width: 100%;
  height: 237px;
}

.card-header-img {
  width: 100%;
  height: 100%;
}

.card-title {
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  margin: 6px auto;
  color: #091e42;
}

.card-info {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  margin: 4px auto;
  color: #091e42;
}

.card-body .tech-container,
.card-variant-body .tech-container {
  width: fit-content;
  margin: 24px 0.001px;
  display: flex;
  justify-content: left;
}

.tech {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  padding: 12.5px 12px;
  color: #091e42;
  background: #fff;
  border: 1px solid #8993a4;
  margin: 0.001px 12px 0.001px 0.001px;
}

.btn {
  padding: 12px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
  background: #ff6b00;
  border: none;
  transition: all 0.7s ease-in-out;
}

.btn:hover {
  border: 1px solid #f55800;
  color: #f55800;
  background: #fff5e1;
}

.btn:active {
  background: #e05304;
  color: #fff;
}

.btn:disabled {
  background: #f4f1f0;
  color: #5b5957;
}

.btn-block {
  width: 100%;
  text-align: center;
}

.project-card-variant {
  background-image: url("./assets/card-bg.png");
  background-size: cover;
  min-height: 386px;
  width: 100%;
  margin: 24px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-variant-body {
  width: 92%;
  margin: auto;
}

.card-variant-body h2,
.card-variant-body p {
  color: #fff;
}

.card-variant-body .card-title {
  margin-top: 60px;
}

.card-variant-body .tech-container .tech {
  background: rgba(255, 255, 255, 0.24);
  color: #fff;
}

.about-section {
  background: #1c1a19;
  min-height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-image: url("./assets/about-bg.png");
  background-position-x: 100%;
  background-position-y: 100%;
  background-repeat: no-repeat;
}

.about-title,
.about-info {
  margin: 24px 0;
}

.projects-title-container {
  text-align: center;
}

.line {
  display: none;
  height: 1pt;
  background-color: #212121;
  width: 100%;
  margin: auto 0.001px auto 1.5rem;
}

.project-cards-container {
  display: flexbox;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.skills-section {
  min-height: 1150px;
  background: #1c1a19;
}

.some-line {
  height: 1px;
  width: 100vw;
  max-width: var(--max-width);
  background: #fff;
  display: none;
}

.languages {
  text-align: center;
}

.generic-title {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  margin: 12px auto;
  color: #fff;
}

.generic-info {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  margin: 5.5px auto;
  align-items: center;
  text-align: center;
  color: #fff;
}

ul {
  list-style-type: none;
}

@media screen and (min-width: 768px) {
  .container {
    width: 100%;
    max-width: var(--max-width);
    overflow: hidden;
  }

  .some-line {
    display: flex;
  }

  .projects-title {
    border: none;
  }

  .projects-title-container {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    text-align: left;
  }

  .line {
    display: flex;
  }

  .card-header {
    min-height: 25rem;
    min-width: 375px;
    width: 100%;
  }

  .project-card {
    display: grid;
    grid-template-columns: 6fr 4fr;
    gap: 1.5rem;
  }

  .project-cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(327px, 1fr));
    gap: 1.5rem;
    justify-content: space-between;
  }

  .project-card-variant {
    margin: auto;
  }

  .about-section {
    background-image: url("./assets/illustration-about\ me.svg");
    background-position-x: 100%;
    background-position-y: 50%;
  }

  .about-section .container {
    max-width: var(--max-width);
  }

  .about-section .container article {
    max-width: 566px;
  }

  .skills-section {
    min-height: 100vh;
  }

  .skills-section .container {
    display: flex;
    width: 100vw;
    justify-content: space-between;
  }

  .skills-section .project-cards-container .languages {
    text-align: left;
  }

  .generic-info {
    text-align: left;
  }
}

.contact-section {
  min-height: 856px;
  position: relative;
}

.contact-info {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  color: #172b4d;
  margin-bottom: 32px;
}

.contact-form {
  width: 100%;
  margin-top: 32px;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
}

.form-input {
  padding: 14.5px;
  border: none;
  border-bottom: 2pt solid #dbd8d7;
  width: 100%;
  background: transparent;
  margin: 12px auto;
}

.form-input::placeholder {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  color: #979493;
}

.textarea {
  min-height: 114px;
  background: #fbf8f7;
  border: none;
}

.textarea ::placeholder {
  color: #242323;
}

.btn-center {
  margin: 24px auto;
}

footer {
  min-height: 80px;
  background: #e5e5e5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-variant {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-variant li {
  padding: auto 10.5px;
}

.underline {
  display: flex;
  margin: 23px auto 8px auto;
  height: 5px;
  width: 134px;
  background: #0d151e;
  border-radius: 10px;
}

.name-control {
  display: none;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.full-name {
  display: flex;
}

@media screen and (min-width: 768px) {
  .contact-info {
    text-align: left;
    margin-top: 3.5rem;
  }

  .contact-section {
    min-height: 614px;
  }

  .contact-section .container {
    display: grid;
    grid-template-columns: 4fr 6fr;
    gap: 1.5rem;
  }

  .btn-center {
    margin: 24px 0;
    width: fit-content;
  }

  .underline {
    display: none;
  }

  .name-control {
    display: grid;
  }

  .full-name {
    display: none;
  }
}
